{% extends 'base.html' %}
{% load custom_markdown %}

{% block content %}
    <h1>{{ article.title }}</h1>

                <!-- Author -->
    <p class="lead">
        作者：  <a href="#">Lanny105 </a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> 发表于 {{ article.publish_date }} {% load disqus_tags %}
<a href="{{ object.get_absolute_url }}#disqus_thread">View Comments</a>
{% disqus_num_replies %}</p>

    <hr>

    <!-- Preview Image -->
    <!--<img class="img-responsive" src="http://placehold.it/900x300" alt="">-->

    <!--<hr>-->

    <!-- Post Content -->
    <p class="lead"> {{ article.content|custom_markdown}}</p>
    <hr>

    <!-- Blog Comments -->

    <!-- Comments Form -->
    <!--<div class="well">-->
        <!--<h4>Leave a Comment:</h4>-->
        <!--<form role="form">-->
            <!--<div class="form-group">-->
                <!--<textarea class="form-control" rows="3"></textarea>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</form>-->
    <!--</div>-->

    <!--<hr>-->

    <!-- Posted Comments -->

    <!-- Comment -->
    <!--<div class="media">-->
        <!--<a class="pull-left" href="#">-->
            <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<h4 class="media-heading">Start Bootstrap-->
                <!--<small>August 25, 2014 at 9:30 PM</small>-->
            <!--</h4>-->
            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Comment &ndash;&gt;-->
    <!--<div class="media">-->
        <!--<a class="pull-left" href="#">-->
            <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
        <!--</a>-->
        <!--<div class="media-body">-->
            <!--<h4 class="media-heading">Start Bootstrap-->
                <!--<small>August 25, 2014 at 9:30 PM</small>-->
            <!--</h4>-->
            <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
            <!--&lt;!&ndash; Nested Comment &ndash;&gt;-->
            <!--<div class="media">-->
                <!--<a class="pull-left" href="#">-->
                    <!--<img class="media-object" src="http://placehold.it/64x64" alt="">-->
                <!--</a>-->
                <!--<div class="media-body">-->
                    <!--<h4 class="media-heading">Nested Start Bootstrap-->
                        <!--<small>August 25, 2014 at 9:30 PM</small>-->
                    <!--</h4>-->
                    <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; End Nested Comment &ndash;&gt;-->

        <!--</div>-->
    <!--</div>-->


{% disqus_show_comments %}
{% endblock %}

{% block cate1 %}
{% for cate in category_list %}
    {% if forloop.counter0|divisibleby:"2"  %}
        <li><a href="/category/{{ cate }}">{{ cate }}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}

{% block cate2 %}
{% for cate in category_list %}
    {% if not forloop.counter0|divisibleby:"2"  %}
        <li><a href="/category/{{ cate }}">{{ cate }}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}

{% block recent %}
    {% load disqus_tags %}
                    <!--{% disqus_recent_comments shortname num_items excerpt_length hide_avatars avatar_size %}-->

    {% disqus_recent_comments shortname 9 5000 0 32 %}

{% endblock %}