{% extends 'base.html' %}

{% block content %}
{% for post in article_list %}

    <h2 style="margin-bottom: 15px;">{{ post.title }} <a href="/category/{{ post.category }}" style="font-size: 20px;"><span class="label label-info">{{ post.category }}</span></a> </h2>

    <p><span class="glyphicon glyphicon-user">Lanny105 </span> 发表于: <span class="glyphicon glyphicon-time"></span> {{ post.publish_date }} <a href="#">浏览<span class="badge">42</span></a> </p>
    <br>
    <p style="font-size: 16px;color: #9b9b9b;margin-top: -10px;margin-bottom: 20px;">{{ post.content|slice:":250" }}...</p>

    <p> <a href="/article/{{ post.id }}">阅读全文</a>  <a href="#">评论 <span class="badge">10</span></a></p>

    <hr>

{% endfor %}
{% endblock%}