{% extends 'base.html' %}
{% load custom_markdown %}

{% block content %}
<div class="row" style="background-color:white; padding: 15px;">
    <h1>{{ article.title }}</h1>

                <!-- Author -->
    <p class="lead">
        作者：  <a href="#">{{ article.author }}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span> 发表于 {{ article.publish_date }} {% load disqus_tags %}
<a href="{{ object.get_absolute_url }}#disqus_thread">View Comments</a>
{% disqus_num_replies %}
        {% if user.is_authenticated %}
        <a href="/edit_article/{{article.id}}">编辑</a>
        {% endif %}
    </p>

    <hr>
    <p class="lead"> {{ article.content|custom_markdown}}</p>
    <hr>
</div>
<hr>
<div class="row" style="background-color:white; padding: 15px;">
{% disqus_show_comments %}
</div>
{% endblock %}
{% block cate %}
{% for cate in category_list %}
    <li><a href="/category/{{ cate }}"><span>{{ cate }}</span></a>
    </li>
{% endfor %}
{% endblock %}
