{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href=" {% static 'css/blog-post.css' %}" rel="stylesheet">

    <link href=" {% static 'css/signin.css' %}" rel="stylesheet">

    <link href="{% static 'kindeditor/themes/default/default.css' %}" rel="stylesheet" />
    <script src="{% static 'kindeditor/kindeditor-all-min.js' %}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <style type="text/css">.thumb-image{float:left;width:300px;position:relative;padding:5px;}</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Lanny105的博客</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">关于我</a>
                    </li>
                    <li>
                        <a href="/">服务</a>
                    </li>
                    <li>
                        <a href="/">联系</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="/new_article">新日志</a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                    {% if user.is_authenticated %}

                        <a href="{% url 'logout' %}">登出</a>

                    {% else %}
                        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">登录</span></a>
                    {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src= "{% static 'js/jquery.js' %}" ></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>

    <script>
        var csrfitems = document.getElementsByName("csrfmiddlewaretoken");
        var csrftoken = "";
        if(csrfitems.length > 0)
        {
            csrftoken = csrfitems[0].value;
        }
        var mySearch = function () {
            $(location).attr('href', '/search/' + $('#search').val())
        }
        KindEditor.ready(function(K) {
            window.editor = K.create('#id_content', {
                uploadJson: '/uploadImg/',
                extraFileUploadParams : {
                    csrfmiddlewaretoken:csrftoken
                },
            });
        });
    </script>

<script>

$(document).ready(function() {
        $("#image-holder").append('<img class = thumb-image src="' + $('#img').attr("name") + '">');
        $("#fileUpload").on('change', function() {
          //Get count of selected files
          var countFiles = $(this)[0].files.length;
          var imgPath = $(this)[0].value;
          var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
          var image_holder = $("#image-holder");
          image_holder.empty();
          if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
            if (typeof(FileReader) != "undefined") {
              //loop for each file selected for uploaded.
              for (var i = 0; i < countFiles; i++)
              {
                var reader = new FileReader();
                reader.onload = function(e) {
                  $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image"
                  }).appendTo(image_holder);
                }
                image_holder.show();
                reader.readAsDataURL($(this)[0].files[i]);
              }
            } else {
              alert("This browser does not support FileReader.");
            }
          } else {
            alert("Pls select only images");
          }
        });
      });
</script>

</body>

</html>
