{% extends 'base.html' %}
{% load custom_markdown %}
{% load widget_tweaks %}
<!--{% load thumbnail %}-->


{% block content %}
{% for post in article_list %}




    <div class="row" id="post">
        <div class="row">
        <div class="col-md-4">
            <a href="/article/{{ post.id }}" class="thumbnail" style="margin-top: 20px;">
                {% thumbnail post.image "250x200" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %}
            </a>
        </div>

        <div class="col-md-8">

            <h3 style="margin-bottom: 15px;">{{ post.title }} <a href="/category/{{ post.category }}" style="font-size: 20px;"><span class="label label-info">{{ post.category }}</span></a> </h3>

            <p style="color: #9b9b9b; margin-right: 15px;">{{ post.content | safe | striptags | truncatechars:200 }}</p>

            <p> <a href="/article/{{ post.id }}">阅读全文</a>
                <a href="{{ object.get_absolute_url }}/article/{{post.id}}/#disqus_thread"  >View Comments</a>
                {% if user.is_authenticated %}
                    <a href="/edit_article/{{post.id}}">编辑</a>
                {% endif %}
            </p>
        </div>
        </div>
        <div class="row">
            <hr class="tag_hr">
            <p class="tag"><span class="glyphicon glyphicon-user">{{ post.author }}</span> 发表于: <span class="glyphicon glyphicon-time"></span> {{ post.publish_date }} 浏览<span class="badge">{{ post.visit }}</span> </p>

        </div>

    </div>
    <hr>

{% endfor %}
{% endblock %}

{% block cate1 %}
{% for cate in category_list %}
    {% if forloop.counter0|divisibleby:"2"  %}
        <li><a href="/category/{{ cate }}">{{ cate }}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}

{% block cate2 %}
{% for cate in category_list %}
    {% if not forloop.counter0|divisibleby:"2"  %}
        <li><a href="/category/{{ cate }}">{{ cate }}</a>
        </li>
    {% endif %}
{% endfor %}
{% endblock %}

<h1 class="page-header">
                    Page Heading
                    <small>Secondary Text</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">Blog Post Title</a>
                </h2>
                <p class="lead">
                    by <a href="index.php">Start Bootstrap</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
                <hr>
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
                <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>