{% extends 'base2.html' %}
{% load widget_tweaks %}


{% block content %}


    <h1></h1>

    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-4">
            <div class="form-group">
                  <label>Title:</label>
                  {{ form.title | append_attr:"class:form-control"}}
            </div>
            <div class="form-group">
                  <label>Category:</label>
                  {{ form.category | append_attr:"class:form-control"}}
            </div>

            <div class="form-group">
                  <label>是否存为草稿:</label>
                  {{ form.is_draft | append_attr:"class:form-control"}}
            </div>

            <div class="form-group">
                  <label>Image:</label>
                  <!--<input type="file" class="form-control">-->
                  {{ form.image | append_attr:"class:form-control" | attr:"id:fileUpload"}}

                <div id="img" name="{{ form.image.value.url }}"></div>

            </div>
            <div class="form-group">
                <div id="image-holder"></div>
            </div>

        </div>
        <div class="col-md-8">
          <div class="form-group">
              <label>Content:</label>
              {{ form.content | append_attr:"class:form-control" | attr:"rows:28"}}
          </div>
            <span style="float: right"><button type="submit" class="btn btn-primary" >Submit</button>
            <a class="btn btn-default" href="/" role="button" >Cancel</a></span>

        </div>
    </form>

{% endblock %}
